.third {
  border-color: #fff;
  color: #000;
  box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #fff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
}
.third {
  border-color: #fff;
  color: #000;
  box-shadow: 0 0 40px 40px #a12b46 inset, 0 0 0 0 #fff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
}
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1em 1em;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  margin-top: 5%;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.c {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
}
body {
  background: url(fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #6b7f8d;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  margin-top: 10%;
  font-family: "Playfair Display", serif !important;
  font-weight: 100 !important;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 1em 1em;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: transparent;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 100px #fff;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #3d6cb9c7);
  animation: btn-anim1 1s linear infinite;
}

.logo-form-login img {
  width: 100%;
}

@media (max-width: 500px) {
  body {
    width: 100%;
    height: 100vh;
  }
  .container-form-login {
    width: 50%;
    margin-left: 20%;
    margin-top: 60%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.intro {
  color: #fff;
  margin-left: -10;
  font-size: 105%;
  margin-bottom: 8%;
  margin-top: 15%;
  min-height: 10%;
}

.acc {
  width: 24% !important;
  margin-left: 8%;
}

label,
select,
input,p {
  font-family: "Lato", sans-serif !important;
}
button,
a {
  font-family: "Playfair Display", serif !important;
  font-weight: 100 !important;
}
@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas */
  .login-box {
    width: 100% !important;
    margin-top: 5% !important;
    margin-right: 0 !important;
    margin-left: 0%;
  }
  img {
    width: 200px;
    margin-left: 20%;
  }
  .acc {
    width: 32% !important;
  }
  .third {
    width: 70% !important;
  }
}
