
.tables{
    margin-left: 12.5% !important;
}
.titile-prin{
    margin-left: 45%; 
    margin-bottom: 1%;
    font-size: 600% !important;
}
.saveChange{
    margin-top: 2%;
    margin-left: 90% !important;
}